.textNode {
    position: relative;
    width: 180px;
    border: "1px solid #ccc";
    border-radius: 4;
    min-width: 200px;
    min-height: 100px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    resize: both;
    overflow: hidden;
}

.textArea {
    position: relative;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    resize: none;
    border: none;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
}
